

#nametag-container{
    width: 847px;
    height: 547px;
    border:  rgb(212, 0, 35);
    background-color:rgb(255, 148, 163);
    margin: 50 auto 0;
    box-sizing: border-box;
    border: rgb(212, 0, 35);
    border-style: solid;
    border-width: 15px;
    z-index: 1;}


.E {
    transform: rotate(330deg);
    display: inline-block;
    font-size: 144px;
    font-family: 'Rockwell-Extrabold', sans-serif;
    margin: 0;
    color: rgb(212, 0, 35);
    position: absolute;
    top:7%;
    left: 24%;
}

.L {
    transform: rotate(25deg);
    display: inline-block;
    font-size: 144px;
    font-family: 'Rockwell-Extrabold',sans-serif;
    margin: 0;
    color: rgb(212, 0, 35);
    position: absolute;
    top: 16.7%;
    left: 31%;
}
.A {
    transform: rotate(23deg);
    display: inline-block;
    font-size:144px;
    font-family: 'Rockwell-Extrabold',sans-serif;
    margin: 0;
    color: rgb(212, 0, 35);
    position: absolute;
    top: 6.3%;
    left: 37.5%;
}

.I {
    transform: rotate(15deg);
    display: inline-block;
    font-size:144px;
    font-family:'Rockwell-Extrabold', sans-serif;
    margin: 0;
    color: rgb(212, 0, 35);
    position: absolute;
    top: 30%;
    left: 25%;
}

.N {
    transform: rotate(-5deg);
    display: inline-block;
    font-size:144px;
    font-family:'Rockwell-Extrabold', sans-serif;
    margin: 0;
    color: rgb(212, 0, 35);
    position: absolute;
    top: 41%;
    left: 29%;
}

.E2 {
    transform: rotate(-8deg);
    display: inline-block;
    font-size:144px;
    font-family:'Rockwell-Extrabold',sans-serif;
    margin: 0;
    color: rgb(212, 0, 35);
    position: absolute;
    top: 30%;
    left: 37%;
}

.F {
    transform: rotate(350deg);
    display: inline-block;
    font-size:144px;
    font-family:'Rockwell-Extrabold',sans-serif;
    margin: 0;
    color: rgb(212, 0, 35);
    position: absolute;
    top: 58%;
    left: 24%;
}
.E3 {
    transform: rotate(23deg);
    display: inline-block;
    font-size:144px;
    font-family:'Rockwell-Extrabold',sans-serif;
    margin: 0;
    color: rgb(212, 0, 35);
    position: absolute;
    top: 58%;
    left: 31%;
}

.I2 {
    transform: rotate(-8deg);
    display: inline-block;
    font-size:144px;
    font-family:'Rockwell-Extrabold',sans-serif;
    margin: 0;
    color: rgb(212, 0, 35);
    position: absolute;
    top: 48%;
    left: 39%;
}

.right-rectangle{
    width: 510px;
    height: 520px;
    background-color: rgb(212, 0, 35);
    margin-left: 322px;
    z-index: 2;
}