

#nametag-container {
    width: 847px;
    height: 547px;
    background-color:rgb(255, 148, 163);
    margin: 50px auto 0;
    border: rgb(216, 0, 29);
    box-sizing: border-box;
    cursor: pointer
    
}

#left-portion {

}

h1{
    transform: rotate(330deg);
    display: inline-block;
    font-size: 255px;
    font-family: sans-serif;
    margin: 0;
}
