body{
    background-color: rgb(174, 209, 226);
    display: grid;
    justify-content: center;
}

header {
    font-size: 50px;
    color: rgb(0, 83, 165);
    font-family: fantasy,Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 25px;
    color: rgb(0, 120, 224);
    font-family: fantasy,Arial, Helvetica, sans-serif;
}

p {
    font-size: 20px;
    color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
}

.arrows {
    display: grid;
    grid-template-areas:
    '. up .'
    'left. right'
    '. down .';
}

.up {
    background-color: rgb(0, 179, 255);
    color: darkorange;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    height: 60px;
    width: 60px;
    padding: auto;
    grid-area: up;
    position: relative;
}

.down {
    background-color: rgb(0, 179, 255);
    color: darkorange;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    height: 60px;
    width: 60px;
    padding: auto;
    grid-area: down;
    position: relative;
}

.left {
    background-color: rgb(0, 179, 255);
    color: darkorange;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    height: 60px;
    width: 60px;
    padding: auto;
    grid-area: left;
    position: relative;
}

.right {
    background-color: rgb(0, 179, 255);
    color: darkorange;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    height: 60px;
    width: 60px;
    padding: auto;
    grid-area: right;
    position: relative;
}

#square {
    width: 600px;
    height: 600px;
    background-color: aliceblue;
    z-index: 1;
    margin: 0%;
    box-sizing: border-box;
}

#rec1 {
    height: 50px;
    width: 250px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 25%;
}

#rec2 {
    height: 50px;
    width: 250px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 25%;
    right: 30.2%;
}

#rec3 {
    width: 50px;
    height: 150px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 25%;
    left: 45%;
}

#rec4 {
    width: 50px;
    height: 80px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 25%;
    left: 53%;
}

#rec5 {
    width: 140px;
    height: 50px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 38.7%;
    left: 37%;
}


#rec6 {
    width: 50px;
    height: 600px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 25.4%;
}

#rec7 {
    width:120px;
    height: 50px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 46%;
}

#rec8 {
    width: 50px;
    height: 80px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 41.9%;
    left: 37%;
}

#rec9 {
    width: 50px;
    height: 600px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 25.4%;
    left: 66.55%;
}

#rec10 {
    width: 50px;
    height: 90px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 40.5%;
    left: 59%;
}

#rec11 {
    width:120px;
    height: 50px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 46%;
    left: 53%;
}

#rec12 {
    width: 50px;
    height: 80px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 53%;
    left: 45%;
}

#rec13 {
    height: 50px;
    width: 400px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 60%;
}

#rec14 {
    height: 50px;
    width: 90px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 60%;
    right: 33%;
}

#rec15 {
    height: 100px;
    width: 50px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 75%;
    left: 38%;
}

#rec16 {
    height: 50px;
    width: 90px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 87.5%;
    left: 36.5%;
}

#rec17 {
    height: 50px;
    width: 270px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 100.55%;
}

#rec18 {
    height: 50px;
    width: 80px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 89%;
    left: 45%;
}


#rec19 {
    height: 50px;
    width: 200px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 75%;
    left: 38%;
}

#rec20 {
    width: 50px;
    height:130px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 89.62%;
    left: 45%;
}


#rec23 {
    height: 50px;
    width: 160px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 75%;
    right: 33%;
}

#rec24 {
    height: 50px;
    width: 160px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 89%;
    right: 33%;
}

#rec25 {
    height: 80px;
    width: 50px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 95%;
    right: 38%;
}

#rec26 {
    height: 50px;
    width: 210px;
    background-color: rgb(9, 51, 201);
    z-index: 2;
    position: absolute;
    top: 100.55%;
    right: 33%;
}
