body {
    margin: unset;
    background-image:url(../pictures/background.jpg);
    background-repeat: repeat;
    background-size: 70%;
  }
  
  .hide {
    display: none;
  }
  
  .header {
    width: 100%;
    background-color:rgb(50, 57, 34);
    height: 10vh;
    font-size: 50px;
    text-align: center;
    color: antiquewhite;
  }

  .about {
      margin-top: 50px;
      margin-left: 200px;
      margin-right: 200px;
      text-align: center;
      background-color: rgb(252, 255, 238);
  }
  
  p {
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
      color: rgb(64, 76, 42);
  }

  .aboutbutton{
      text-align: center;
  }
