body {
  margin: unset;
  background-image:url(../pictures/background.jpg);
  background-repeat: repeat;
  background-size: 70%;
}

.hide {
  display: none;
}

.header {
  width: 100%;
  background-color:rgb(50, 57, 34);
  height: 10vh;
  font-size: 50px;
  text-align: center;
  color: antiquewhite;
}

.container {
  height: 90vh;
  padding-left: 220px;
  display: flex;
  align-items: center;
}

.sidebar {
  float: left;
  width: 220px;
  background-color: rgb(86, 99, 60);
  height: 90vh;
  min-height: 400px;


  margin-left: -100%;
  position: relative;
  left: -220px;
}

.sidebar a {
  display: block;
  font-size: large;
  font-weight: 600;
  text-decoration: unset;
  color: rgb(208, 226, 194);
  margin-top: 12px;
}

#player {
  width: 50%;
}

.content {
  float: left;
  width: 100%;
}

.content {
  float: left;
  width: 100%;
}

.carousel-container {
  position: relative;
}

.carousel-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  text-align: center;
  opacity: 0.5;
}

.carousel-left-icon {
  left: 0;
}

.carousel-right-icon {
  right: 0;
}

.carousel-list {
  position: relative;
  left: 15%;
  width: 70%;
  overflow: hidden;

  box-sizing: content-box;
}

.carousel-item {
  display: none;
  width: 100%;
  float: left;
  margin-right: -100%;
  position: relative;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out,-webkit-transform .6s;
}

.carousel-item.active {
  display: block;
}

.carousel-item-next {
  display: block;
  
z-index: 1;
opacity: 1;

}

.carousel-item.active.carousel-item-left {
  transform: translateX(-100%);
}

.carousel-item-prev {
  display: block;
}

.carousel-item.active.carousel-item-right {
  transform: translateX(100%);
}

#maze{
  font-size: 20px;
  color:rgb(30, 50, 33);
  font-family: fantasys;
  text-align: center;
}

#nametag{
  font-size: 20px;
  color:rgb(30, 50, 33);
  font-family: fantasys;
  text-align: center;
}

#interview{
  font-size: 20px;
  color:rgb(30, 50, 33);
  font-family: fantasys;
  text-align: center;
}

#expressivewebsite{
  font-size: 20px;
  color:rgb(30, 50, 33);
  font-family: fantasys;
  text-align: center;
}

#abstractwebsite{
  font-size: 20px;
  color:rgb(30, 50, 33);
  font-family: fantasys;
  text-align: center;
}

#maze-detail {
  font-size: 18px;
  color:rgb(30, 50, 33);
  font-family: fantasys;
}

#nametag-detail {
  font-size: 18px;
  color:rgb(30, 50, 33);
  font-family: fantasys;
}

#interview-detail {
  font-size: 18px;
  color:rgb(30, 50, 33);
  font-family: fantasys;
}

#expressivewebsite-detail {
  font-size: 18px;
  color:rgb(30, 50, 33);
  font-family: fantasys;
}

#abstractwebsite-detail {
  font-size: 18px;
  color:rgb(30, 50, 33);
  font-family: fantasys;
}