body {
    margin: unset;
    background-image:url(../pictures/background.jpg);
    background-repeat: repeat;
    background-size: 70%;
  }
  
  .hide {
    display: none;
  }
  
  .header {
    width: 100%;
    background-color:rgb(50, 57, 34);
    height: 10vh;
    font-size: 50px;
    text-align: center;
    color: antiquewhite;
  }

  .about {
      margin-top: 50px;
      margin-left: 200px;
      margin-right: 200px;
      text-align: center;
      background-color: rgb(252, 255, 238);
      line-height: 40px;
  }
  
  p {
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
      color: rgb(64, 76, 42);
  }

  .aboutbutton{
      text-align: center;
  }

  .contact {
    font-size: 20px;
    font-style: oblique;
      font-family: 'Times New Roman', Times, serif;
      color: rgb(40, 101, 80);
      line-height: 30px;
  }

  @media (max-device-width:375px) {
  
    .header {
    width: 100%;
    background-color:rgb(50, 57, 34);
    height: 30px;
    font-size: 30px;
    justify-content: center;
    color: antiquewhite;
    }

    .about{
      justify-content: center;
      margin-left: 10vw;
      margin-right: 10vw;
    }

    p {
      font-size: 10px;
      margin: 5px;
      justify-content: center;
      display: flex;
      line-height: normal;
    }

    .contact {
      font-size: 10px;
      font-style: oblique;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(40, 101, 80);
        display: flex;
        line-height: normal;
    }

    .aboutbutton{
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      width: 15px;
      height: 5px;
      display: flex;
  }
  }

  @media (max-device-width:411px) {
  
    .header {
    width: 100%;
    background-color:rgb(50, 57, 34);
    height: 30px;
    font-size: 30px;
    justify-content: center;
    color: antiquewhite;
    }

    .about{
      justify-content: center;
      margin-left: 10vw;
      margin-right: 10vw;
    }

    p {
      font-size: 10px;
      margin: 5px;
      justify-content: center;
      display: flex;
      line-height: normal;
    }

    .contact {
      font-size: 10px;
      font-style: oblique;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(40, 101, 80);
        display: flex;
        line-height: normal;
    }

    .aboutbutton{
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      width: 15px;
      height: 5px;
      display: flex;
  }
  }

  @media (max-device-width:540px) {
  
    .header {
    width: 100%;
    background-color:rgb(50, 57, 34);
    height: 30px;
    font-size: 30px;
    justify-content: center;
    color: antiquewhite;
    }

    .about{
      justify-content: center;
      margin-left: 10vw;
      margin-right: 10vw;
    }

    p {
      font-size: 10px;
      margin: 5px;
      justify-content: center;
      display: flex;
      line-height: normal;
    }

    .contact {
      font-size: 10px;
      font-style: oblique;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(40, 101, 80);
        display: flex;
        line-height: normal;
    }

    .aboutbutton{
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      width: 15px;
      height: 5px;
      display: flex;
  }
  }