body{
    margin: 0;
}
@media (max-width: 1024px){
    .nav {
        width: auto;
    }
}

nav{
    width: 100%;
    height: 60px;
    background-color: rgb(230, 0, 19);
    padding: 10px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
}

#logo{
    width: 150px;
    height: 50px;
    background-color:rgb(255, 211, 211);
    font-size: 32px;
    margin: 0;
}

#visit{
    width: 30px;
    height: 20px;
    background-color: rgb(255, 181, 181);
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0%;
}

#exhibitons{
    width: 150px;
    height: 20px;
    background-color: rgb(255, 181, 181);
    padding: 0%;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    margin-left: 160px;
}

#art{
    width: 25px;
    height: 20px;
    background-color: rgb(255, 181, 181);
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0%;
}

#learn{
    width: 70px;
    height: 20px;
    background-color: rgb(255, 181, 181);
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0%;
}

#shop{
    width: 50px;
    height: 20px;
    background-color: rgb(255, 181, 181);
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0%;
}

#buyticket{
    width: 30px;
    height: 10px;
    margin-left: 60px;
    margin-right: 10px;
    background-color: rgb(255, 181, 181);
    
}

#becomemember{
    width: 50px;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(255, 181, 181);
}

#makedonation{
    width: 40px;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(255, 181, 181);
}

#content1 {
    margin: 0%;
    padding: 0%;
    width: 100%;
}

#poster {
    width: 60%;
    height: 480px;    
    background-color: #ffa6ad;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#ticket {
    width: 7%;
    height: 30px;    
    background-color: #ff5967;
    margin-top: 20px;
    margin-left: 20%;
}

#paragraph {
    width: 40%;
    height: 1000px;
    background-color: #da313f;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#bottomad{
    width: 80%;
    height: 300px;
    background-color: #ff939c;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#bottomsec {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    position: relative;
    background-color: rgb(255, 224, 195);
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    padding: 20px;
}