body 
    {background-image: linear-gradient(rgb(0, 0, 0),rgb(10,11,58));
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 650%;
    }

#page{
    color: blanchedalmond;
    font-family: 'RainbowUniverse';
    font-size: 70px;
    text-align: center;
    margin-top: 100px;
    line-height: 150px;
    }

    .parallax {
     background: url('../image/moon1.jpg') no-repeat center;
     background-size: cover;
     background-attachment: fixed;
     height: 400px;
     margin-left: 50px;
     margin-right: 50px;
    }



    .A {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    }

    @-webkit-keyframes glow {
        from{
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff6a5, 0 0 40px #fff27b, 
            0 0 50px #fff459, 0 0 60px #ffdc42, 0 0 70px #ffd901;
        }
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px #ffd901, 0 0 40px #ffdc42, 0 0 50px #fff459, 
          0 0 60px #fff27b, 0 0 70px #fff6a5, 0 0 80px #fff;
        }
      }

    
    .C {    animation: bounce 10s infinite;
    }

    @keyframes bounce {
        20%, 50%, 80%, to{
            transform: translateY(0);
        }
        40%{
            transform: translateY(-30px);
        }
        70%{
            transform: translateY(-15px);
        }
        90%{
            transform: translateY(-4px);
        }
    }

    .E span{
        color: palevioletred;
    }

    .G {
        background-image: url('../image/space-stars-galaxy-illustration-wallpaper.jpg');
    }

    .I {
        background-image: url(../image/heart.png);
        background-position: center;
        background-size: contain;
    }

    .K span{
        color: palevioletred;
    }

    .parallax2 {
        background: url('../image/moon2.jpg') no-repeat center;
        background-size: contain;
        background-attachment: fixed;
        height: 400px;
        margin-left: 50px;
        margin-right: 50px;
       }


       .O {
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
        }
    

    .R {
        color: palevioletred;
    }


    footer {
        font-size: 40px;
        text-align: right;
        margin-top: 40px;
    }